#### SET

In [88]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [87]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [86]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

### Set operations

In [ ]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

In [ ]:
 Add element to set

A.add("NSYNC")
A

In [68]:
# Try to add duplicate element to the set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [69]:
# Remove the element from set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [70]:
# Verify if the element is in the set

"AC/DC" in A

True

### Set Logic operations

In [71]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [72]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [73]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [74]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [75]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [76]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [77]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [78]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [79]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [80]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [81]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

### Quiz on sets

Convert the list

In [82]:
# Write your code below and press Shift+Enter to execute
con_set =set(['rap','house','electronic music', 'rap'])
con_set

{'electronic music', 'house', 'rap'}

Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) = sum(B)

In [83]:
# Write your code below and press Shift+Enter to execute
A = [1, 2, 2, 1]
sum(A)
B = set([1, 2, 2, 1])
print( 'The sum of A ',sum(A))
print('The sum of B', sum(B))

The sum of A  6
The sum of B 3


Create a new set album_set3 that is the union of album_set1 and album_set2:

In [84]:
# Write your code below and press Shift+Enter to execute

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

Find out if album_set1 is a subset of album_set3: